@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{  font-family: 'Ubuntu', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/*Comienzo de estilado de Header*/
header{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100px;
    background-color: rgb(245, 242, 237);
    box-shadow: 0 0 29px 0 rgb(133, 133, 133);
    z-index: 1;
}
ul{
    list-style: none;
    height: 100px;
    display:flex ;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /*margin-right: 35px;*/
}
li{
    margin-right:25px;
    font-size: 24px;
}
a{
    text-decoration: none;
}
.botones-nav{
    color: gray;
}
.botones-nav:hover{
    color: lightgray;
    transform: scale(1.1);
    transition: 0.3s;
}
.botones-nav:active{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 25px;
    box-shadow: 2px 2px 5px gray;
}
.boton{
    background-color: rgb(0, 172, 191) ;
    color:white;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
}
/*Comienzo de estilado de section*/
/*Class medidas se aplica a varias section*/
.medidas{
    background-color: rgb(238, 236, 236);
    width: 100vw;
    height: 1700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: flex-start;*/
    align-content: center;
    text-align: center;
    padding: 50px;
    box-shadow: 0 0 29px 0 rgb(104, 103, 103);
}
/*Estilado de sectio 1 = Presentación*/
.presentacion{
    width: 90%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    align-items: center;
    /*align-content: space-between;*/
    padding: 20px;
    /*margin-top: 130px;*/
}
.margen-superior{
    margin-top: 100px;
}
h2{
    font-size: 45px;
    color: rgb(73, 72, 72);
}
.nombrePrincipal{
    font-size: 100px;
    margin-top: 30px;
}
h1{
    color: rgb(4, 131, 145);
    font-size: 80px;
}
.formato{
    font-size: 24px;
    color:rgb(104, 103, 103);
    margin-top: 30px;
    margin-bottom: 40px;
}
.primerImagen{
   margin-top: 150px;
   width: 750px;
   height: 600px;
}
/*Comienzo de estilado de section 2 = Conocimientos*/
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.conocimientos{
    /*padding-top: 100px;*/
    width: 50%;
    /*height: 1700px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*text-align: center;
    align-content: center;*/
}
.container{
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
} 
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
    align-items: center;
    width: 300px;
    height: 300px;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(104, 103, 103);
    font-size: 25px;
    color:  rgb(104, 103, 103);
    background-color: white;
}
.tamanio{
    font-size: 100px;
}
.rojo{
    color: #e54d26;
}
.azul{
    color: #3d8fc6;
}
.rosa{
    color: #c69;
}
.amarillo{
    color: #f0db4f;
}
.celeste{
    color: #61dafb;
}
.naranja{
    color: #f34f29;
}
.card:hover{
    border: solid 1px  rgb(4, 131, 145);
    color: rgb(4, 131, 145);
    background-color: azure;
}
/*Cimienzo de estilado de sección 3 = Comentario*/
.comentario{
    /*width: 100vw;*/
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px;
    box-shadow: 0 0 29px 0 rgb(104, 103, 103);
    background-color: rgb(0, 172, 191);
}
.white{
    color: white;
}
/*Comienzo de estilado de sección 4 = Proyectos*/
.medidas-mayor{
    background-color: rgb(238, 236, 236);
    width: 100vw;
    height: 2000px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px;
    box-shadow: 0 0 29px 0 rgb(104, 103, 103);
}
.columna{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerProyectos{    
    width: 1100px;
    height: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap; 
    align-content: space-evenly;
} 
.cardProyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(104, 103, 103);
    font-size: 25px;
    color:  rgb(104, 103, 103);
    background-color: white; 
    margin-right: 50px; 
}
.imagenCard{
    width: 300px;
    height: 250px;
}
.cardProyectos:active{
    border: solid 1px  black;
    border-radius: 15px;    
}
.cardProyectos:hover{
    border: solid 1px  rgb(4, 131, 145);
    color: rgb(4, 131, 145);
    background-color: azure;
}
/*Comienzo de estilado de sección 5 = Contacto*/
.medidas-form{
    background-color: rgb(238, 236, 236);
   /* width: 100vw;*/
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 100px;
    box-shadow: 0 0 29px 0 rgb(104, 103, 103);
}
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    height: 700px;
    padding: 15px;
    background-color: white;
    border: solid 1px rgb(184, 216, 216);
    border-radius: 25px;
}
.espacioContacto{
    width: 50%;
    height: 500px;
    padding: 30px;
}
h3{
    color: rgb(4, 131, 145);
    font-size: 60px;
    margin-bottom: 20px;
}
.iconos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.boton-icono{
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    color: gray;
}
.boton-icono:hover{
    color: rgb(4, 131, 145);       
}
.boton-icono:active{
    width: 100%;
    height: 75px;
    padding-right: 10px;
    border: 1px solid lightgray;
    border-radius: 35px;
    box-shadow: 2px 2px 5px gray;
}
.boton-icono:hover .redes{
    background-color: rgb(4, 131, 145) ;
    color: white;
}
.redes{
    font-size: 25px;
    color: rgb(4, 131, 145);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
}
.redes:hover{
    color: white;
    background-color:rgb(4, 131, 145) ;
    border-radius: 50px;
}
.datos{
    display:flex;
    flex-direction:column;
    justify-content: column;
    margin: 20px;
    flex-grow: 1;
}
.datos-form{
    font-size: 16px;
    color:rgb(27, 27, 27);
    margin-bottom: 10px;
}
input[type=text]{
    color: black;
    border-radius: 25px;
    background-color:rgb(238, 236, 236);
    width: 100%;
    height: 40px;
    outline: none;
    border:none;
}
input[type=text]:focus{
    border:1px solid rgb(4, 131, 145) ;
    box-shadow: 2px 2px 5px  rgb(4, 131, 145);
}
input[type=email]{ 
    color: black;
    border-radius: 25px;
    background-color:rgb(238, 236, 236);
    width: 100%;
    height: 40px;
    outline: none;
    border:none;
}
input[type=email]:focus{
    border:1px solid rgb(4, 131, 145) ;
    box-shadow: 2px 2px 5px  rgb(4, 131, 145);
}
textarea{
    color: black;
    border-radius: 25px;
    background-color:rgb(238, 236, 236);
    padding: 10px;
    outline: none;
    border:none;    
}
textarea:focus{
    border:1px solid rgb(4, 131, 145) ;
    box-shadow: 2px 2px 5px  rgb(4, 131, 145);
}
input[type=submit]{
    color: white;    
    width: 25%;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(4, 131, 145) ;
    border:none; 
    font-size: 20px;
    outline: none;
}
input[type=submit]:hover{
    transform: scale(1);
    transition: 0.3s;
    color:rgb(133, 133, 133);background-color: rgb(184, 216, 216);
    border: 1px solid rgb(4, 131, 145) ;
    cursor: pointer;
}
.NombreApellido{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        width: 100%;
}
/*Comienzo estilado footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    background-color: rgb(0, 172, 191);
    color: lightgray;
}
html,body
{
	/*width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;*/
	overflow-x: hidden;
}

/*Responsive 1, mobile*/

@media screen and (max-width: 576px) { 
    header { display: none; } 
    .medidas{
        /*background-color: rgb(238, 236, 236);
        /*width: 100vw;*/
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*align-content: center;/*
        
        text-align: center;
        /*padding: 50px;*/
    }
    .presentacion{
        width: 100vw;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;}
        /*margin-top: 20px;*/
    .nombrePrincipal{
        font-size: 50px;
        margin-top: 15px;
    }
    .boton{
        margin-left: 100px;        
    }
    .primerImagen{
        margin-top: 20px;
        width: 350px;
        height: 300px;
     }
    .conocimientos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*text-align: center;*/
        /*padding-top: 40px;*/
    }   
    .container{
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-evenly;
    } 
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*width: 300px;
        height: 300px; */ 
        width: 100px;
        height: 100px;
        font-size: 15px;
        margin: 5px;
    }
    .imagenCard{
        font-size: 15px;
        /*width: 25px;
        height: 25px;*/
    }
    .tamanio{
        font-size: 50px;
    }
    .formato{
        font-size: 16px;}
       /* margin-top: 15px;
        margin-bottom: 20px;
    }*/
    .center{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 24px;
    }/*
    .medidas-mayor{
        width: 100vw;
        height: 2100px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }*/
    .columna{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        align-content: flex-start;
    }
    .containerProyectos{    
        width: 100%;
        height: 1600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap 
    } 
    .cardProyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 225px;
        font-size: 12px;
        margin: 5px; 
    }
    .imagenCard{
        width: 150px;
        height: 150px;
    }
    .medidas-form{
        background-color: rgb(238, 236, 236);
        width: 100vw;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        padding: 0px;
    }
    .contacto{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            text-align: start;
            width: 100%;
            height: 100%;
            padding: 5px;
            background-color: white;
            border: solid 1px rgb(184, 216, 216);
            border-radius: 0px;
    }
    h3{
            color: rgb(4, 131, 145);
            font-size: 20px;
            margin-bottom: 5px;
    }
    .espacioContacto{
        width: 100%;
        height: 500px;
        padding: 3px;
    }
    .redes{
        font-size: 25px;
        color: rgb(4, 131, 145);
        /*margin: 15px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: white;
    }
    span{ 
        font-size: 18px;
    }
    .NombreApellido{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
}
    footer .botones-nav{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 170px;
    }
} 
/* Responsive 2*/

@media screen and (max-width: 980px){

    .medidas{
        /*background-color: rgb(238, 236, 236);
        /*width: 100vw;*/
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*align-content: center;/*
        
        text-align: center;
        /*padding: 50px;*/
    }
    .presentacion{
        width: 100vw;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;}
        /*margin-top: 20px;*/
    .nombrePrincipal{
        font-size: 50px;
        margin-top: 15px;
    }
    .boton{
        margin-left: 100px;        
    }
    .primerImagen{
        margin-top: 20px;
        width: 350px;
        height: 300px;
     }
    .conocimientos{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*text-align: center;*/
        /*padding-top: 40px;*/
    }   
    .container{
        height: 1000px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-evenly;
    } 
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*width: 300px;
        height: 300px; */ 
        width: 100px;
        height: 100px;
        font-size: 15px;
        margin: 5px;
    }
    .imagenCard{
        font-size: 15px;
        /*width: 25px;
        height: 25px;*/
    }
    .tamanio{
        font-size: 50px;
    }
    .formato{
        font-size: 16px;}
       /* margin-top: 15px;
        margin-bottom: 20px;
    }*/
    .center{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 24px;
    }/*
    .medidas-mayor{
        width: 100vw;
        height: 2100px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }*/
    .columna{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        align-content: flex-start;
    }
    .containerProyectos{    
        width: 100%;
        height: 1600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap 
    } 
    .cardProyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 225px;
        font-size: 12px;
        margin: 5px; 
    }
    .imagenCard{
        width: 150px;
        height: 150px;
    }
    .medidas-form{
        background-color: rgb(238, 236, 236);
        width: 100vw;
        height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: start;
        padding: 0px;
    }
    .contacto{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            text-align: start;
            width: 100%;
            height: 100%;
            padding: 5px;
            background-color: white;
            border: solid 1px rgb(184, 216, 216);
            border-radius: 0px;
    }
    h3{
            color: rgb(4, 131, 145);
            font-size: 20px;
            margin-bottom: 5px;
    }
    .espacioContacto{
        width: 100%;
        height: 500px;
        padding: 3px;
    }
    .redes{
        font-size: 25px;
        color: rgb(4, 131, 145);
        /*margin: 15px;*/
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: white;
    }
    span{ 
        font-size: 18px;
    }
    .NombreApellido{
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
}
    footer .botones-nav{
        display: none;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 170px;
    }
} 
    
