@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{  font-family: 'Ubuntu', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    box-shadow: -inset 25px 0 25px rgb(104, 103, 103); /*Esta sombreando solo el footer, chequear porque?*/
}
header{
    position: fixed;
    top:0;
    /* position fixed y top 0 sirven para que mi header quede fijo arriba siempre*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    height: 100px;
    background-color: rgb(245, 242, 237);
    box-shadow: 0 0 29px 0 rgb(133, 133, 133); /*para darle la sombra*/
    z-index: 10;
}
a{
    color: rgb(104, 103, 103);
    text-decoration: none;
    transform: scale(1);
    transition: 0.3s;
}
a:hover{
    color: lightgray;
    transform: scale(1.1);
    transition: 0.3s;
}
ul{
    color: black;
    list-style: none;
    height: 100px;
    display:flex ;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
li{
    margin-right:25px;
    font-size: 24px;
}
a:active{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
}
section{
    background-color: rgb(238, 236, 236);
    height: 1200px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 110px;
    box-shadow: 0 0 29px 0 rgb(104, 103, 103);
}
.presentacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    padding: 50px;
    margin-top: 130px;
}
.margen-superior{
    margin-top: 100px;
}
h1{
    color: rgb(4, 131, 145);
    font-size: 80px;
}
.formato{
    font-size: 18px;
    color:rgb(104, 103, 103);
    margin: 20px;
}
.boton{
    background-color: rgb(0, 172, 191) ;
    color:white;
    width: 130px;
    padding: 10px;
    border-radius: 15px;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}
.primerImagen{
   margin-top: 150px;
}
.container{
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
   
} 
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    align-items: center;
    width: 300px;
    height: 200px;
    border: solid 1px  rgb(184, 216, 216);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px  rgb(104, 103, 103);
    font-size: 25px;
    color:  rgb(104, 103, 103);
    background-color: azure;
}
.fondo{
    background-color: rgb(0, 172, 191);
}
.letra-blanco{
    color: white;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 300px;
    background-color: rgb(0, 172, 191);
    color: lightgray;
}
.white{
    color: white;
}